<!-- <div class="full-page-container">
    <div class="dashboard-container">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
      <ul class="menu-list">
        <li class="menu-item info"><a routerLink="/admin/users">Gérer les utilisateurs</a></li>
        <li class="menu-item success"><a routerLink="/admin/books">Gérer les livres</a></li>
        <li class="menu-item danger">
          <a (click)="redirectToKeycloakAccount()">Mon profil</a>
        </li>
      </ul>
    </div>
  </div> -->
  

  <div class="full-page-container">
    <div class="dashboard-container">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
      <ul class="menu-list">
        <li class="menu-item info">
          <a (click)="redirectTo('/admin/books')">Rechercher des livres</a>
        </li>
        <li class="menu-item success">
          <a (click)="redirectTo('/admin/books/add-book')">Ajouter un livre</a>
        </li>
        <li class="menu-item info">
          <a (click)="redirectTo('/admin/all-reservations')">Les reservations</a>
        </li>
        <li class="menu-item danger">
          <a (click)="redirectToKeycloakAccount()">Mon profil</a>
        </li>
      </ul>
      
      
    </div>
  </div>
  