<h1>Détails du livre</h1>

<div *ngIf="book" class="book-details-container">
  <!-- Image du livre -->
  <div class="book-image-container">
    <img [src]="book?.image" alt="{{ book?.titre }}" class="book-image" />
  </div>

  <!-- Détails du livre -->
  <div class="book-info">
    <h2>{{ book?.titre }}</h2>
    <div class="book-meta">
      <p><strong>Auteur :</strong> {{ book?.auteur }}</p>
      <p><strong>Catégorie :</strong> {{ book?.categorie?.nom }}</p>
      <p><strong>Status :</strong> {{ book?.disponible ? 'Disponible' : 'Indisponible' }}</p>
    </div>

    <!-- Bouton pour emprunter -->
    <button 
      class="borrow-button" 
      [disabled]="!book?.disponible"
      (click)="emprunterLivre(book)"
    >
      {{ book?.disponible ? 'Emprunter ce livre' : 'Indisponible' }}
    </button>

    <button
    *ngIf="!book.disponible"
    class="reserve-button"
    (click)="reserverLivre()"
  >
    Réserver
  </button>

  </div>
</div>

<div *ngIf="!book">
  <p>Chargement des détails du livre...</p>
</div>
